
h1 {
  color:#3582D8;
}

.bg-image {
  background-image: url(http://40.media.tumblr.com/ecf3fa342a79729c3bd99cd34d7183ac/tumblr_my5urvbMXV1tn1eddo1_1280.jpg);
  height:500px;
  width:100%;
  position:relative;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:50% 43%;
  margin-bottom: 250px;



}

.btn-home {
  position:absolute;
  top:232px;
  left:calc(50% - 102.5px);
}

