<div class="bg-image">
    <%= link_to "Trouver votre foodtruck", foodtrucks_path, class: "btn btn-primary btn-home" %>
</div>

<div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Search..." />
  </div>
</div>
