<div class="text-center">
  <h1>Trouver votre foodtruck</h1>
  <div class="container">
    <div class="row">
      <% @foodtrucks.each do |foodtruck| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <h3>
          <%= link_to foodtruck.name, foodtruck_path(foodtruck) %>
        </h3>
        <%= cl_image_tag foodtruck.image, transformation: :thumbnail %>

        <%= link_to 'Réserver votre food truck', foodtruck_path(foodtruck), class: "btn btn-primary" %>
      </div>
      <% end %>
    </div>
    <h4>
      <%= link_to 'Ajoutez votre foodtruck', new_foodtruck_path, class: "btn btn-success"%>
    </h4>
  </div>
</div>
